<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>注册</title>
</head>
<style type="text/css">
    form{color: #667755;background: #ffffff;margin:0;font-size: 130%;padding-left: 100px;font-weight: 900;}
    h1{padding:2em 1em;background: #b7d498;color: #77694f;}
    h2{color: #77694f;border-top:1px dotted #fff;margin-top:2em;}
    p{margin:1em 0}
    a{color: #667755;text-decoration:none;padding-left: 100px;font-weight: 900;}
  </style>
<body>
<h1>注册：</h1>
<form method = 'post' enctype="multipart/form-data">
    {% csrf_token %}
    {{uf.as_p}}
    <input type="submit" value = "提交" />
</form>
<br>
<a href="/login/">登陆</a>
</body>
</html>